@page
@model Web.Pages.Admin.Admin_pages.Ad_users.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_LayoutAdmin_pages.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.UserPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.UserCustomer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserCustomer.CustomerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.UserPermission)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserPermission.PermissionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User.UserId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
