@page
@model Web.Pages.Admin.Admin_pages.Ad_products.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutAdmin_pages.cshtml";
}
@section right_header
{
    <div class="nav-right">
        <img src="~/image/icon/user-icon.svg" />
        <div class="ten-admin"><a>Hello - @HttpContext.Session.GetString("username")!</a></div>
        <form asp-page-handler="Signout" method="post">

            <input type="submit" style="font-size: 15px;margin:17px 8px 0 8px" value="Sign Out"/>

        </form>
    </div>
}
@section Navigation
{
    <div class="breadcrumb">
        <span><a asp-page="./Admin_index">Home</a></span>
        <span> / </span>
        <span>Products</span>
    </div>
}
<div class="section">
    <div class="them_sp" style="float:left"><a asp-page="./Create">Thêm Sản Phẩm</a></div>

    <form method="get">
        <p>
            <!-- sort by genres -->
            <select asp-for="typename" asp-items="Model.ProductIndexVM.Genres">
                <option value="">All</option>
            </select>
            <!-- sort by provider -->
            <select asp-for="typename" asp-items="Model.ProductIndexVM.Provider">
                <option value="">All</option>
            </select>
            <!--> search </!-->
            Find by name: <input type="text" asp-for="CurrentFilterProduct" />
            <input type="submit" />
            <!-- Sort by price decrease -->
            <a asp-page="./index" asp-route-sort="giam">Price Decrease</a>
        </p>
    </form>

    <table id="table-sp">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductIndexVM.Products[0].ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductIndexVM.Products[0].ProductTypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductIndexVM.Products[0].ProductPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductIndexVM.Products[0].ProductQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductIndexVM.Products[0].ProductImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductIndexVM.Products[0].ProductDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductIndexVM.Products[0].ProductProvider)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProductIndexVM.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductQuantity)
                    </td>
                    <td>
                        <img width="100" src="~/images/@Html.DisplayFor(modelItem => item.ProductImage)"/> 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDescription)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductProviderId)
                    </td>
                    <td>
                        <button class="sua_sp"><a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a></button>
                        <button class="xoa_sp"><a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a></button>
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
    <div style="float:right">        
        @for (int i = 1; i <= @Model.ProductIndexVM.Products.TotalPages; i++)
        {
            <div style="width:30px;float:left;@(i == Model.ProductIndexVM.Products.PageIndex ? "pointer-events:none" : "")">
                <table style="border-style:solid">
                    <!--<tbody> -->
                    <thead>
                        <tr>
                            <th>
                                <a style="position:center"
                                   asp-page="./Index"
                                   asp-route-currentFilterproduct="@Model.CurrentFilterProduct"
                                   asp-route-typename="@Model.typename"
                                   asp-route-sort="@Model.sort"
                                   asp-route-pageIndex="@i"
                                   class="page-item @(i == Model.ProductIndexVM.Products.PageIndex ? "active" : "")">
                                    @i
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <!--</tbody> -->
                </table>
            </div>
        }
    </div>

</div>